In [3]:
import pandas as pd

In [8]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
                                              0.0/250.0 kB ? eta -:--:--
     -------------------------------------- 250.0/250.0 kB 7.7 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [41]:
clothes = pd.read_excel(r"C:\Users\NT550009\Desktop\MUSINSA\data\ProductNum.xlsx")
clothes.head()

  Category  Item_code
0  반소매 티셔츠     996177
1  반소매 티셔츠    1382658
2  반소매 티셔츠     996178
3  반소매 티셔츠    1848166
4  반소매 티셔츠    2086653

In [42]:
clothes["Category"].unique()

array(['반소매 티셔츠', '셔츠/블라우스', '피케/카라 티셔츠', '니트/스웨터', '맨투맨/스웨트셔츠',
       '긴소매 티셔츠', '후드 티셔츠', '나일론/코치 재킷', '트레이닝 재킷', '트러커 재킷', '아노락 재킷',
       '사파리/헌팅 재킷', '스타디움 재킷', '블루종/MA-1', '슈트/블레이저 재킷', '카디건',
       '레더/라이더스 재킷', '후드 집업', '숏패딩/숏헤비 아우터', '환절기 코트', '플리스/뽀글이',
       '롱패딩/롱헤비 아우터', '베스트', '겨울 싱글 코트', '겨울 기타 코트', '겨울 더블 코트', '무스탕/퍼',
       '패딩 베스트', '트레이닝/조거 팬츠', '코튼 팬츠', '슈트 팬츠/슬랙스', '데님 팬츠', '숏 팬츠',
       '스포츠 하의', '미니스커트', '미디스커트', '롱스커트', '맥시원피스', '미디원피스', '미니원피스'],
      dtype=object)

In [43]:
clothes = clothes.rename(columns={"Category":"Subcategory"})
clothes.head()

  Subcategory  Item_code
0     반소매 티셔츠     996177
1     반소매 티셔츠    1382658
2     반소매 티셔츠     996178
3     반소매 티셔츠    1848166
4     반소매 티셔츠    2086653

In [44]:
clothes["Category"] = ""

In [45]:
clothes.head()

  Subcategory  Item_code Category
0     반소매 티셔츠     996177
1     반소매 티셔츠    1382658
2     반소매 티셔츠     996178
3     반소매 티셔츠    1848166
4     반소매 티셔츠    2086653

In [46]:
# Category 값을 설정하는 함수 정의
def set_category(row):
    if row['Subcategory'] in ["반소매 티셔츠","셔츠/블라우스","피케/카라 티셔츠",
                          "니트/스웨터","맨투맨/스웨트셔츠","긴소매 티셔츠","후드 티셔츠"]:
        return 'T-shirt'
    elif row['Subcategory'] in ["나일론/코치 재킷","트레이닝 재킷","트러커 재킷","아노락 재킷","사파리/헌팅 재킷","스타디움 재킷","블루종/MA-1","슈트/블레이저 재킷","카디건","레더/라이더스 재킷","후드 집업","숏패딩/숏헤비 아우터","환절기 코트","플리스/뽀글이","롱패딩/롱헤비 아우터","베스트","겨울 싱글 코트","겨울 기타 코트","겨울 더블 코트","무스탕/퍼",
"패딩 베스트"]:
        return 'outer'
    elif row['Subcategory'] in ["트레이닝/조거 팬츠","코튼 팬츠","슈트 팬츠/슬랙스","데님 팬츠","숏 팬츠","스포츠 하의"]:
        return 'pants'
    elif row['Subcategory'] in ["미니스커트","미디스커트","롱스커트"]:
        return 'skirts'
    elif row['Subcategory'] in ["맥시원피스","미디원피스","미니원피스"]:
        return 'dress'
    

# apply 함수를 사용하여 Category 값을 설정
clothes['Category'] = clothes.apply(set_category, axis=1)

In [47]:
clothes.head()

  Subcategory  Item_code Category
0     반소매 티셔츠     996177  T-shirt
1     반소매 티셔츠    1382658  T-shirt
2     반소매 티셔츠     996178  T-shirt
3     반소매 티셔츠    1848166  T-shirt
4     반소매 티셔츠    2086653  T-shirt

In [48]:
# "Category" 열에서 null 값 확인
has_null = clothes['Category'].isnull().any()

# 결과 출력
if has_null:
    print("Null values exist in the 'Category' column.")
else:
    print("No null values found in the 'Category' column.")

No null values found in the 'Category' column.

In [49]:
# 컬럼 순서 변경 reindex
clothes = clothes.reindex(columns=['Category', 'Subcategory', 'Item_code'])

In [50]:
clothes["Category"].unique()

array(['T-shirt', 'outer', 'pants', 'skirts', 'dress'], dtype=object)

In [51]:
clothes

      Category Subcategory  Item_code
0      T-shirt     반소매 티셔츠     996177
1      T-shirt     반소매 티셔츠    1382658
2      T-shirt     반소매 티셔츠     996178
3      T-shirt     반소매 티셔츠    1848166
4      T-shirt     반소매 티셔츠    2086653
...        ...         ...        ...
17995    dress       미니원피스    1167612
17996    dress       미니원피스    1154830
17997    dress       미니원피스    1135804
17998    dress       미니원피스     865557
17999    dress       미니원피스     797165

[18000 rows x 3 columns]

In [52]:
clothes.to_csv(r"C:\Users\NT550009\Desktop\MUSINSA\data\category.csv")